*{
    margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:'Playwrite Deutschland Schulausgangschrift Guides',sans-serif;
   }
   
   li{
       display: inline-block;
   }
   nav{
       display: inline-block;
   }
   header{
       margin: 0px 0px 144px 0px;
       background-color: #f0f6f8;
       padding: 30px 0 20px 0;
       border-bottom:2px solid #00ffff;
       display: flex;
       align-items: center;
justify-content: space-around;
   }
   .nome{
font-size: 30px;
font-weight: 700;
   }
   .n1{
    color: #0aced4;
   }
   .n2{
    color: #000000;
   }
   .link-menu{
       font-weight: 600;
       font-size: 24px;
       line-height: 28px;
       margin: 0 20px 0 0 ;
       cursor: pointer;
       transition:opacity 0.2s;
       color: #006885;
       text-decoration:none;
   }
   
   a:hover{
       opacity:0.7;  
   }
   .botao-login{
       width: 130px;
       height: 38px;
   border-radius: 20px;
   background-color:#00ffff;
   border: none;
   font-size: 20px;
   font-weight: 600px;
   color: rgb(62, 70, 70);
   transition:opacity 0.2s;
   cursor: pointer;
   }
   .botao-login:hover{
       opacity:0.7;
   }
   .logo{
       width:40%;
       vertical-align: middle;
       display:inline-block;
       vertical-align: middle;
       margin: 0 5%;
       border-radius: 15px;
    
   }
   .texto{
       width:40% ;
       display:inline-block;
       vertical-align: middle;
       margin: 0 0 0 50px;
   }
   main{
       text-align:center;
   }
   .botao-explore{
       width: 180px;
       height: 40px;
       cursor: pointer;
       background: #6ce7f0;
       border: none;
       border-radius: 20px;
       font-size: 14px;
       font-weight: 500;
       box-shadow: 0 0 5px #0483be;
       transition: opacity 0.3s;
   }
   .botao-explore:hover{
       opacity: 0.7;
   }
   .titulo{
       font-size: 40px;
       font-weight: 900;
       color: #07dbca;
   }
   .sub-titulo{
       color: #07c2c2;
       line-height: 60px;
   
   }
   .paragrafo{
       font-size: 16px;
       font-weight: 400;
       line-height: 25px;
       color: #000000;
       text-align: justify;
       margin: 20px 0 30px 0;
       max-width: 500px;
   }
   footer{
       text-align: center;
       background: #ceebf5;
       padding: 50px;
       font-size: 14px;
       margin-top: 100px;
   }
   .img-dog{
       display: block;
       width: 70%;
       height: 450px;
       object-fit: cover;
       margin: 80px auto 0 auto;
       border-radius: 15px;
   }
   .lista-servicos{
    width:200px;
    display:block;
    text-decoration: none;
    color: #001483; 
    border: 2px solid;
    margin: 0 20px;
    padding: 20px 0 ;
    border-radius: 15px;
    transition:box-shadow 0.2px, transform 0.2 ;
   }
   .lista-servicos:hover{
   box-shadow: 0px 0px 15px rgba(39, 9, 207, 0.2);  
  
    transform: translateY(-2px);
   }
   .servicos{
padding: 10px 0 100px 0;
   }
   .h2-servico{
font-weight: 500;
   }
   .preco{
    
   }
   .img-card{
    width:80%;
   }
   @media (max-width:780px) {
       header{
           margin: 0px 0px 44px 0px;
           text-align: center;
           width: 100%;
       }
       a{
           font-weight: 500;
           font-size: 16px;
           line-height: 28px;
           margin: 0 5px 0 0 ;
       
       }

       .link-menu{
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        margin: 0 10px 0 0 ;
        cursor: pointer;
        transition:opacity 0.2s;
        color: #006885;
        text-decoration:none;
    }
       .botao-login {
           width: 90px;
           height: 32px;
           border-radius: 15px;
           font-size: 16px;
           font-weight: 500;
   }
   .nome{
    display: none;
   }
   .logo {
       width: 50%;
       max-width: 400px;
    
       text-align: center;
       margin: 0 auto 50px auto;
       margin: 0 5%;
   }
   
   .texto {
        margin: 20px 0 0 0;
       width: 80%;
       text-align: center;
   }
   
   .titulo {
       font-size: 30px;
   }
   .img-dog{
       max-width: 350px;
       height: 200px;
   }
   }
.h2-servico{
font-weight: 400;
font-size:22px;
}
 .lista-servicos{
    width:200px;
    margin: 17px 10px;
    padding: 16px 0 ;

   }